# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence

.docker: &docker
  image: "docker:${DOCKER_VERSION}"
  variables:
    DOCKER_VERSION: "20.10"
    DOCKER_FILE_PATH: "Dockerfile"
    # Disable TLS since we're running inside local network.
    DOCKER_TLS_CERTDIR: "" # No TLS
    # Use the overlayfs driver for improved performance.
    DOCKER_DRIVER: overlay2
  services:
    - "docker:${DOCKER_VERSION}-dind"

.build: &build
  <<: *docker
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_JOB_TOKEN" "$CI_REGISTRY"

.docker_build: &docker_build
  extends: .build
  stage: build
  variables:
    REGISTRY_IMAGE: "$CI_REGISTRY_IMAGE"
    REGISTRY_IMAGE_LATEST: "$REGISTRY_IMAGE:latest"
  script:
    # Tag image
    - |
      if [[ -z "$CI_COMMIT_TAG" ]]; then
        export APPLICATION_TAG=${APPLICATION_TAG:-$CI_COMMIT_SHORT_SHA}
      else
        export APPLICATION_TAG=${APPLICATION_TAG:-$CI_COMMIT_TAG}
      fi
    # Build Image
    - |
      docker image pull --quiet "$REGISTRY_IMAGE_LATEST" \
        || echo "No previously cached image found. The docker build will proceed without using a cached image"
    - |
      docker build \
        --cache-from "$REGISTRY_IMAGE_LATEST" \
        -t "$REGISTRY_IMAGE:$APPLICATION_TAG" \
        --build-arg ENV=$ENV \
        -f "$DOCKER_FILE_PATH" \
        --progress=plain \
        .
    - docker push "$REGISTRY_IMAGE:$APPLICATION_TAG"
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        docker tag "$REGISTRY_IMAGE:$APPLICATION_TAG" "$REGISTRY_IMAGE_LATEST"
        docker push "$REGISTRY_IMAGE_LATEST"
      fi

docker_build:
  <<: *docker_build
  rules:
    - if: '$BUILD_DISABLED'
      when: never
    - if: '$CI_COMMIT_REF_PROTECTED'
    - if: '$CI_COMMIT_TAG || $CI_COMMIT_BRANCH'