variables:
  CICD_RUNNERS_IMAGE_VERSION: 'latest'

.deploy_base:
  variables:
    S3_BUCKET_URI: "$ORGANIZATION-$ENV-$CI_PROJECT_NAME.creditodigitalinteligente.com"
  image: "registry.gitlab.com/negozia/cicd-runners:${CICD_RUNNERS_IMAGE_VERSION}"
  stage: deploy
  script:
    - >
      python3 /update_content_cdn.py
  needs:
    - job: build
      artifacts: true
  rules:
    - if: '$DEPLOY_DISABLED'
      when: never

deploy_qa:
  extends: .deploy_base
  variables:
    ENV: qa
    ROLE_ARN: "${ROLE_ARN_QA}"
    CLOUD_FRONT_CLUSTER_ID: "${CLOUD_FRONT_CLUSTER_ID_QA}"
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'

deploy_prod:
  extends: .deploy_base
  when: manual
  variables:
    ENV: prod
    ROLE_ARN: "${ROLE_ARN_PROD}"
    CLOUD_FRONT_CLUSTER_ID: "${CLOUD_FRONT_CLUSTER_ID_PROD}"
  rules:
    - if: '$DEPLOY_PROD'
      when: never
    - if: '$CI_COMMIT_TAG'

deploy_prod_failover:
  extends: .deploy_base
  when: manual
  variables:
    ENV: prod
    S3_BUCKET_URI: "${S3_BUCKET_URI}-failover"
    AWS_DEFAULT_REGION: "us-west-2"
    ROLE_ARN: "${ROLE_ARN_PROD}"
    CLOUD_FRONT_CLUSTER_ID: "${CLOUD_FRONT_CLUSTER_ID_PROD}"
    MATCH_FILES_SWTICH_REGION: "main*.js"
  script:
    - sed -E 's/(ue1)\.([a-z\.]+creditodigitalinteligente\.com)/uw2.\2/g' "dist/${MATCH_FILES_SWTICH_REGION}"
    - python3 /update_content_cdn.py
  rules:
    - if: '$DEPLOY_PROD || $DEPLOY_PROD_FAILOVER'
      when: never
    - if: '$CI_COMMIT_TAG'