variables:
  CICD_RUNNERS_IMAGE_VERSION: 'latest-pre'

.deploy_base:
  variables:
    LAMBDA_NAME: "$ENV-$CI_PROJECT_NAME"
  image: "registry.gitlab.com/negozia/cicd-runners:${CICD_RUNNERS_IMAGE_VERSION}"
  stage: deploy
  script:
    # Deploy Image
    - >
      python3 /lambda_update_code.py
  rules:
    - if: '$DEPLOY_DISABLED'
      when: never

deploy_qa:
  extends: .deploy_base
  variables:
    ENV: qa
    ROLE_ARN: "${ROLE_ARN_QA}"
  # environment:
  #   name: qa
  #   url: https://$ENV.creditointeligente.co
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'

deploy_prod:
  extends: .deploy_base
  when: manual
  variables:
    ENV: prod
    ROLE_ARN: "${ROLE_ARN_PROD}"
  # environment:
  #   name: prod
  #   url: https://creditointeligente.co
  rules:
    - if: '$DEPLOY_PROD'
      when: never
    - if: '$CI_COMMIT_TAG'

deploy_prod_failover:
  extends: .deploy_base
  when: manual
  variables:
    ENV: prod
    ROLE_ARN: "${ROLE_ARN_PROD}"
    AWS_DEFAULT_REGION: "us-west-2"
  # environment:
  #   name: prod
  #   url: https://creditointeligente.co
  rules:
    - if: '$DEPLOY_PROD || $DEPLOY_PROD_FAILOVER'
      when: never
    - if: '$CI_COMMIT_TAG'