include:
  - local: /templates/Docker/Docker.gitlab-ci.yml

docker_build:
  extends: .docker_build
  variables:
    # Disable TLS since we're running inside local network.
    DOCKER_TLS_CERTDIR: "" # No TLS
    # Use the overlayfs driver for improved performance.
    DOCKER_DRIVER: overlay2
    REGISTRY_IMAGE: "$CI_REGISTRY/$CI_PROJECT_NAME"
  before_script:
    - apk add --update --no-cache curl jq py-pip
    - pip install awscli
    - aws ecr get-login-password | docker login --username AWS --password-stdin $CI_REGISTRY